{% extends "main/base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <dic class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Добро пожаловать!</h1>
                <p>Это небольшой тренажер по Git. Выполни задания и не забудь что-нибудь добавить на страницу почета :)</p>
                <p>Если появилось желание запустить сервер и посмортеть как сейчас выглядит сайтик, могу дать несколько советов.</p>
                <p>1. В командной строке перейди в папку с проектом</p>
                <p>2. Затем введи <span style='color:green;'>venv\Scripts\activate</span> для запуска окружения</p>
                <p>3. Войдя в окружение, смело вводи <span style='color:green;'>python manage.py runserver</span> для запуска сервера</p>
                <p>4. Перейди по адресу <span style='color:green;'>127.0.0.1:8000</span> и наслаждайся :)</p>

            </div>
        </div>
    </dic>
{% endblock %}