{% extends "main/base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Добро пожаловать!</h1>
                <p>Это небольшой тренажер по Git. Выполни задания и не забудь что-нибудь добавить на страницу почета :)</p>
                <p>Если появилось желание запустить сервер и посмортеть как сейчас выглядит сайтик, могу дать несколько советов.</p>
                <p>Тебе не надо для этого устанавливать Python на компьютер</p>
                <p>1. Перейди в блокнот на Google Colab по ссылке <span style='color:green;'>https://colab.research.google.com/drive/1wIi6RzaUXolfwpuDqnmtWIZXTNV7x7ol?usp=sharing</span></p>
                <p>2. Выполни каждую ячейку в блокноте</p>
                <p>3. После успешного запуска команды <span style='color:green;'>!python manage.py runserver</span> перейди по ссылке, которая отобразилась после выполнения ячейки выше</p>
                <p>Давай договоримся, что если что-то сломал, то либо откати изменения, либо исправь и закоммить новые</p>

            </div>
        </div>
    </div>
{% endblock %}